.side-naigation-bar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.side-naigation-bar-item:hover {
box-shadow: 0px 0px 1px 1px white;
}

.side-naigation-bar-item__icon {
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-naigation-bar-item__text {
    padding-top: 0.25em;
    width: 10em;
}